* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
h1 {
    font-size: 48px; /* or try 48px, 3em, etc. */
}

caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

button {
    margin: 5px 5px 10px 5px;
    padding: 9px 17px;
    font-size: 20px;
    background-color: #28a745; 
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.2s ease;
}

button:active {
    transform: translateY(2px); 
    background-color: #218838; 
}


thead th {
    background-color: black;
    color: white;
}

table,
td,
th {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 10px 40px;
}

tfoot {
    background-color: lightgray;
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    button {

        display: none;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
    animation: fadingContent 1s ease;
}

@keyframes fadingContent{
    from{
        transform: scale(0.2);
    }
    to{
        transform: scale(1);
    }
}

.modalContent label,
input {
display: block;
margin-top: 5px;
}

input {
margin: 10px auto;
padding: 10px;
border: 2px solid;
border-radius: 10px;
font-size: 18px;
}

input:focus {
    background-color: #f0f0f0; /* light gray */
}

#cancelBtn{
background-color: red;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}