* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

}

label,
input,
button {
    display: block;
}

#form {
    border: 1px solid;
    border-radius: 10px;
    padding: 20px 30px;
    background-color: cornflowerblue;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-weight: bold;
    margin-top: 5px;
}

#submitBtn,
#feedbackBtn,
#submitPassword {
    padding: 10px 20px;
    background-color: darkblue;
    margin: 5px auto;
    color: white;
    border: none;
    border-radius: 10px;

}

#submitBtn:hover,
#feedbackBtn:hover,
#submitPassword:hover {
    background-color: blue;
    cursor: pointer;
}

#submitBtn:active,
#feedbackBtn:active,
#submitPassword:active {
    transform: translateY(2px);
}

#message {
    margin-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    /* z-index: 2;  */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
     /* overflow: auto;  */
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.close {
    float: right;
    font-size: 20px;
    cursor: pointer;
}